{% extends 'core/base_login.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height:100vh;">
  <div class="card p-5 shadow" style="width: 400px;max-width:90vw;">
    <div class="text-center mb-4">  
      <img src="{% static 'core/img/logo_letra_blanca.png' %}" alt="Logo Corporativo" style="height:90px;">
    </div>
    <h5 class="mb-3 fw-bold text-center">¡Contraseña restablecida!</h5>
    <p class="text-center mb-0">Tu contraseña se ha cambiado correctamente. Ahora puedes iniciar sesión con tu nueva clave.</p>
    <div class="text-center mt-3">
      <a href="{% url 'login' %}" class="btn btn-primary">Ir al login</a>
    </div>
  </div>
</div>
{% endblock %}
