{% extends 'telefonica/base_telefonica.html' %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ titulo }}</h3>
                    <div class="card-tools">
                        <a href="{% url 'telefonica:clientes_lista' %}?tipo_cliente=prepos" class="btn btn-sm btn-secondary">
                            <i class="fas fa-arrow-left"></i> Volver a la lista
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" class="form">
                        {% csrf_token %}
                        
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <h5><i class="icon fas fa-ban"></i> Por favor corrija los siguientes errores:</h5>
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                    <label for="{{ form.telefono.id_for_label }}">Teléfono *</label>
                                    {{ form.telefono }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i> {{ accion }}
                                </button>
                                <a href="{% url 'telefonica:clientes_lista' %}?tipo_cliente=prepos" class="btn btn-secondary">
                                    <i class="fas fa-times"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        // Aplicar clases de Bootstrap a los campos del formulario
        $('input, select, textarea').addClass('form-control');
    });
</script>
{% endblock %}